ALTER TABLE vendors DROP CONSTRAINT IF EXISTS vendors_user_id_fkey; ALTER TABLE vendors ADD CONSTRAINT vendors_user_id_fkey FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE; ALTER TABLE riders DROP CONSTRAINT IF EXISTS riders_user_id_fkey; ALTER TABLE riders ADD CONSTRAINT riders_user_id_fkey FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE; ALTER TABLE service_providers DROP CONSTRAINT IF EXISTS service_providers_user_id_fkey; ALTER TABLE service_providers ADD CONSTRAINT service_providers_user_id_fkey FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE;
